# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
.venv-py38
.venv-py310
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Output directories
outputs/
logs/
temp/

# Large data files
data/AMASS/Transitions/
data/g1_29dof/
data/smpl/
data/

# Pickle files
# *.pkl

homework.md

assets/robot/gr3_6dof